<div class="login-container">
  <div class="grid-container">
    <div class="div-logo">
      <div class="instruction-container">
        <p class="instruction-title">Bar Application</p>
        <p class="instruction-text">Please login with your Microsoft credentials.</p>
      </div>
    </div>
    <div class="login-fields-container">
      <div>
        <div>
          <button (click)="login()" class="mat-elevation-z8 login-button" mat-raised-button>Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
