<app-menu pageTitle="Local Storage Items"></app-menu>
<div class="main-layout">
  <div class="card-background">
    <div class="card-title">
      <h1>Local Storage</h1>
    </div>
    <div class="card-layout">
      <!--      <span class="storage-item">Conference:</span><span class="storage-item">{{team.conference}}</span>-->
      <!--      <span class="storage-item">Mascot:</span><span class="storage-item">{{team.mascot}}</span>-->
      <!--      <span class="storage-item">Stadium Name:</span><span class="storage-item">{{team.stadiumName}}</span>-->
      <!--      <span class="storage-item">City:</span><span class="storage-item">{{team.city}}</span>-->
      <!--      <span class="storage-item">State:</span><span class="storage-item">{{team.state}}</span>-->
      <!--      <span class="storage-item">Zipcode:</span><span class="storage-item">{{team.zip}}</span>-->
    </div>
  </div>
</div>
