@import "../../../assets/styles/variables";

.main-layout {
  margin: 10px;
}

.card-background {
  border-radius: 10px;
  background-color: #D0ECE7;
  width: max-content;
  padding: 20px;
  color: $app-green-3;
}

.card-title {
  border-bottom: solid 2px $app-green-3;
}

.card-layout {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 150px max-content;
  grid-template-rows: auto auto auto auto auto auto;
}

.card-layout2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 150px max-content;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.storage-item {
  font-size: larger;
}

